@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

:root {
  /* Primary colors */
  --blue: hsl(246, 80%, 60%);
  --light-red: hsl(15, 100%, 70%); /*(work)*/
  --soft-blue: hsl(195, 74%, 62%); /*(play)*/
  --light-red: hsl(348, 100%, 68%); /*(study)*/
  --lime-green: hsl(145, 58%, 55%); /*(exercise)*/
  --violet: hsl(264, 64%, 52%); /*(social)*/
  --soft-orange: hsl(43, 84%, 65%); /*(self care)*/

  /* Neutral colors */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --light-purple: #5746ea;
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  /* card font size */
  --fs-card: 18px;

  /* media quires */
  --mobile-view: 375px;
  --desktop-view: 1440px;
}

body {
  background-color: var(--very-dark-blue);
  color: white;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 50px;
  grid-template-areas:
    "user"
    "work"
    "play"
    "study"
    "exercise"
    "social"
    "selfCare";
}
.user,
.work,
.play,
.study,
.exercise,
.social,
.selfCare {
  background: var(--dark-blue);
  border-radius: 15px;
  /* padding: 1rem; */
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
/* start user section */
.user {
  grid-area: user;
}
.userData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--light-purple);
  border-radius: 15px;
  padding: 15px;
}
img {
  border: 3px solid white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.userInfo {
  margin: 20px 0;
  margin-left: 15px;
}
.userInfo p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 5px;
  font-size: small;
}
.userInfo span {
  font-weight: 200;
  font-size: x-large;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.filter button {
  background: transparent;
  border: none;
  font-size: medium;
  color: rgba(255, 255, 255, 0.5);
}
.filter button:hover {
  color: white;
}
/* end user section */

.work {
  grid-area: work;
}
.play {
  grid-area: play;
}
.study {
  grid-area: study;
}
.exercise {
  grid-area: exercise;
}
.social {
  grid-area: social;
}
.selfCare {
  grid-area: selfCare;
}

@media screen and (min-width: 375px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "user work play study"
      "user exercise social selfCare";
  }
  .filter {
    flex-direction: column !important;
  }
}
